torch
transformers
accelerate
librosa
torchao
protobuf
safetensors>=0.4.3
uvicorn
llama-cpp-python==0.3.14
fastapi
anyio
pydantic
starlette
typing-extensions
sse-starlette
starlette-context
pydantic-settings
sentence-transformers
